{{>layout/header}}
<div class="layout">
    <h1>게시판</h1>
    <form action="/community/modifydo" method="post">
        <input name="title" type="text" value="{{board.title}}"/>
        <textarea name="content">{{board.content}}</textarea>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="hidden" type="number" name="id" value="{{board.id}}">
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
{{>layout/footer}}
