{{>layout/header}}
{{#board}}
    <h1>게시글</h1>
    <p>{{{title}}}</p>
    <h1>내용</h1>
    <p>{{{content}}}</p>
    <div>
        <button onclick="goList()">글 목록</button>
        <button onclick="deleteId({{id}}, '{{userEntity.username}}')">글 삭제</button>
        <button onclick="modifyBoard({{id}}, '{{userEntity.username}}')">글 수정</button>
    </div>
{{/board}}

{{#nearById}}
    <div>
        <button onclick="checkBid({{bid}})">이전 글</button>
        </button>
        <button onclick="checkAid({{aid}})">다음 글</button>
        </button>
    </div>
{{/nearById}}
<script>
    function goList(){
        window.location.href = 'list';
    }

    function deleteId(id, user){
        window.location.href = 'delete?id=' + id + "&user=" + user;
    }

    function checkBid(bid){
        if (bid == 0) {
            alert("이전 글이 없습니다.");
        } else {
            window.location.href = 'view?id=' + bid;
        }
    }

    function checkAid(aid){
        if (aid == 9999999) {
            alert("다음 글이 없습니다.");
        } else {
            window.location.href = 'view?id=' + aid;
        }
    }
    function modifyBoard(id, user){
        window.location.href = 'modify?id=' + id + "&user=" + user;
    }
</script>
{{>layout/footer}}
