{{>layout/header}}
<h1>아이 돌봐주실분 구합니다</h1>
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input{
        width: 100%;
        box-sizing: border-box;

    }

    .layout textarea{
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>
<div class="layout">
    <form action="/giveReceive" method="post" enctype="multipart/form-data">
        돌봄 장소
        <input type="radio" class="btn-check" name="house" id="option1" autocomplete="off" checked value="option1">
        <label class="btn btn-secondary" for="option1">돌봐주시는 분 집에서</label>
        <input type="radio" class="btn-check" name="house" id="option2" autocomplete="off" value="option2">
        <label class="btn btn-secondary" for="option2">우리 집에서</label>
        <input type="radio" class="btn-check" name="house" id="option3" autocomplete="off" value="option3">
        <label class="btn btn-secondary" for="option2">상관없어요</label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">저장</button>
    </form>
</div>
{{>layout/footer}}