{{>layout/header}}
<div class="layout">
    <h1 class="d-flex justify-content-center">자유게시판</h1>
    <form action="/search/board" method="get" style="display: inline;">
        <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight">
                <select name="search" id="search" class="form-select form-select-sm">
                    <option value="content">제목+본문</option>
                    <option value="username">작성자</option>
                    <option value="all">전체 보기</option>
                </select>
            </div>
            <div class="flex-grow-1 p-2 bd-highlight">
                <input type="text" name="keyword">
            </div>
            <div class="bd-highlight p-2">
                <button type="submit" class="btn btn-light">검색</button>
            </div>
            <div class="bd-highlight p-2">
                <button onclick="writeBoard()" class="btn btn-dark">글 작성</button>
            </div>
        </div>
    </form>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
            <th>글번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
        </thead>
        {{#list}}
            <tr>
                <td>{{{id}}}</td>
                <td><a href="/community/view?id={{id}}" style="color:black">{{{title}}}</a></td>
                <td>{{content}}</td>
                <td>{{userEntity.username}}</td>
            </tr>
        {{/list}}
    </table>
    <div class="d-flex justify-content-center bd-highlight flex-row">
        <div class="p-2 bd-highlight">
            {{#hasPrev}}
                <a href="?page={{previous}}">이전</a>
            {{/hasPrev}}
            {{^hasPrev}}
                이전
            {{/hasPrev}}
        </div>
        <div class="p-2 bd-highlight me-auto ms-auto">
            {{#page.num}}
                <a href="list?page={{.}}">{{.}}</a>
            {{/page.num}}
        </div>
        <div class="p-2 bd-highlight">
            {{#hasNext}}
                <a href="?page={{next}}">다음</a>
            {{/hasNext}}
            {{^hasNext}}
                다음
            {{/hasNext}}
        </div>
    </div>
</div>
<script>
    function writeBoard(){
        window.location.href = 'write';
    }
</script>
{{>layout/footer}}
