{{>layout/header}}
<div class="layout">
    <h1>펫 찾기</h1>
    <form action="/findPet/writedo" method="post" enctype="multipart/form-data">
        <input name="title" type="text"/>
        <textarea name="content"></textarea>
        <div class="mb-3">
            <label for="formFile" class="form-label">아이의 사진을 올려주세요</label>
            <input class="form-control" type="file" name="file" id="formFile">
        </div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button class="btn btn-primary" type="submit">저장</button>
    </form>
</div>

{{>layout/footer}}