{{>layout/header}}
<h1>펫 찾기</h1>
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input{
        width: 100%;
        box-sizing: border-box;

    }

    .layout textarea{
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>
<div class="layout">
    <form action="/findPet/writedo" method="post" enctype="multipart/form-data">
        <input name="title" type="text"/>
        <textarea name="content"></textarea>
        <div class="mb-3">
            <label for="formFile" class="form-label">아이의 사진을 올려주세요</label>
            <input class="form-control" type="file" name="file" id="formFile">
        </div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">저장</button>
    </form>
</div>
{{>layout/footer}}