{{>layout/header}}
<div class="layout">
    <h1>펫 찾기</h1>
    <form action="/findPet/writedo" method="post" enctype="multipart/form-data">
        <div class="d-flex flex-column bd-highlight">
            <h2 class="p-2 bd-highlight">제목</h2>
            <div class="p-2 bd-highlight"> <input name="title" type="text"/></div>
            <h2 class="p-2 bd-highlight">본문</h2>
            <div class="p-2 bd-highlight"><textarea name="content"></textarea></div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <div class="mb-3 p-2 bd-highlight">
                <label for="formFile" class="form-label">아이의 사진을 올려주세요</label>
                <input class="form-control" type="file" name="file" id="formFile">
            </div>
            <div class="p-2 bd-highlight"><button type="submit" class="btn btn-primary">저장</button></div>
        </div>
    </form>
</div>

{{>layout/footer}}