{{>layout/header}}
<h1>내 아이 찾기</h1>
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
</style>
<div class="layout">
    <button onclick="writeBoard()">글 작성</button>
    <table>
        <thead>
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
        </thead>
        {{#list}}
            <tr>
                <td>{{id}}</td>
                <td><a href="view?id={{id}}">{{title}}</a></td>
                <td>{{userEntity.username}}</td>
            </tr>
        {{/list}}
    </table>
    <div>
        {{#hasPrev}}
            <a href="?page={{previous}}">이전</a>
        {{/hasPrev}}
        {{^hasPrev}}
            이전
        {{/hasPrev}}
        {{#page.num}}
            <a href="list?page={{.}}">{{.}}</a>
        {{/page.num}}
        {{#hasNext}}
            <a href="?page={{next}}">다음</a>
        {{/hasNext}}
        {{^hasNext}}
            다음
        {{/hasNext}}
     </div>
</div>
<script>
    function writeBoard(){
        window.location.href = 'write';
    }
</script>
{{>layout/footer}}
