{{>layout/header}}
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input{
        width: 100%;
        box-sizing: border-box;

    }

    .layout textarea{
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>
<div class="layout">
    <h1>게시판</h1>
    <form action="/findPet/modifydo?id={{petInfo.id}}" method="post">
    <input name="title" type="text" value="{{petInfo.title}}"/>
    <textarea name="content">{{petInfo.content}}</textarea>
    <div class="mb-3">
        <label for="formFile" class="form-label">아이의 사진을 올려주세요</label>
        <input class="form-control" type="file" name="file" id="formFile">
    </div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
{{>layout/footer}}
