{{>layout/header}}
<div class="layout">
<h3 class="d-flex justify-content-center">아이 돌봐드려요</h3>
    <form action="/search/care" method="get" style="display: inline;">
        <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight">
                <select name="search" id="search" class="form-select form-select-sm">
                    <option value="address">주소</option>
                    <option value="username">작성자</option>
                    <option value="all">전체 보기</option>
                </select>
            </div>
            <div class="flex-grow-1 p-2 bd-highlight">
                <input type="text" class="form-control" name="keyword">
            </div>
            <div class="bd-highlight p-2">
                <button type="submit" class="btn btn-light">검색</button>
            </div>
        </div>
    </form>
    <h4>"도움말"</h4>
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <th>날짜</th>
    <th>주소</th>
    <th>작성자</th>
    </thead>
    {{#list}}
        <tr>
            <td><a href="/view?id={{id}}" style="color:black">{{createAt}}</a></td>
            <td><a href="/view?id={{id}}" style="color:black">{{address}}</a></td>
            <td><a href="/view?id={{id}}" style="color:black">{{userEntity.username}}</a></td>
        </tr>
    {{/list}}
</table>
{{^list}}
    아직 계시글이 존재하지 않습니다.
{{/list}}
    <div class="d-flex justify-content-center bd-highlight flex-row">
        <div class="p-2 bd-highlight">
            {{#hasPrev}}
                <a href="?page={{previous}}">이전</a>
            {{/hasPrev}}
            {{^hasPrev}}
                이전
            {{/hasPrev}}
        </div>
        <div class="p-2 bd-highlight me-auto ms-auto">
            {{#page.num}}
                <a href="list?page={{.}}">{{.}}</a>
            {{/page.num}}
        </div>
        <div class="p-2 bd-highlight">
            {{#hasNext}}
                <a href="?page={{next}}">다음</a>
            {{/hasNext}}
            {{^hasNext}}
                다음
            {{/hasNext}}
        </div>
    </div>
</div>
{{>layout/footer}}