{{>layout/header}}
<meta name="_csrf" content="{{_csrf.token}}"/>
<meta name="_csrf_header" content="{{_csrf.headerName}}"/>
<h1>회원가입</h1>
<div class="layout">
        <form action="/joindo" method="post" enctype="multipart/form-data">
            <h2>Join</h2>
            <h4>ID</h4>
            <input type="text" id="username" name="username" placeholder="아이디">
            <input type="button" class="btn btn-dark" id="checkusername" value="아이디 중복 체크" onclick="checkDuplicateId()">
            <br>
            <p style="color: red; font-size: 8px;">{{#username}}{{.}}{{/username}}{{^username}}{{/username}}</p>
            <h4>e-mail</h4>
            <input type="email" id="email" name="email" placeholder="이메일">
            <input type="button" class="btn btn-dark" id="checkemail" value="이메일 중복 체크" onclick="checkDuplicateEmail()">
            <br>
            <p style="color: red; font-size: 8px;">{{#email}}{{.}}{{/email}}{{^email}}{{/email}}</p>
            <h4>Password</h4>
            <input type="password" name="pw" placeholder="비밀번호">
            <br>
            <p style="color: red; font-size: 8px;">{{#pw}}{{.}}{{/pw}}{{^pw}}{{/pw}}</p>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button class="btn btn-primary" type="submit" id="joinbtn" disabled>회원가입</button>
        </form>
    </div>

<script>
    function checkDuplicateId() {
        const token = $("meta[name='_csrf']").attr("content")
        const header = $("meta[name='_csrf_header']").attr("content");
        const value = $('#username').val();

        console.log(value);
        const data = {"checkData": value}
        $.ajax({
            type: 'POST',
            url: '/checkDuplicateUsername',
            data: data,
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (res) {
                if (res) {
                    console.log(res);
                    alert(value + "는 중복되지 않습니다.");
                    var input = document.getElementById('username');
                    //input.disabled = true;
                    var button = document.getElementById('checkusername');
                    button.disabled = true;
                    isIdChecked = true;

                    enableJoinButtonIfReady();
                    alert("회원가입 실패1: " + JSON.stringify(res));
                } else {
                    const errorObject = JSON.parse(res);
                    const errorMessage = Object.values(errorObject).join("\n");
                    alert("회원가입 실패:\n" + errorMessage);
                    console.log(res);
                    alert("회원가입 실패2: " + JSON.stringify(res));
                    alert(value+"는 사용할 수 없습니다.")
                }
            }, error: function (res) {
                console.error(res)
            }
        });
    }

    function checkDuplicateEmail() {
        const token = $("meta[name='_csrf']").attr("content")
        const header = $("meta[name='_csrf_header']").attr("content");
        const value = $('#email').val();

        console.log(value);
        const data = {"checkData": value}

        $.ajax({
            type: 'POST',
            url: '/checkDuplicateEmail',
            data: data,
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (res) {
                if (res) {
                    alert(value + "는 중복되지 않습니다.");
                    var input = document.getElementById('email');
                    //input.disabled = true;
                    var button = document.getElementById('checkemail');
                    button.disabled = true;
                    isEmailChecked = true;

                    enableJoinButtonIfReady();
                } else {
                    alert(value+"는 사용할 수 없습니다.")
                }
            }, error: function (res) {
                console.error(res)
            }
        });
    }
    function enableJoinButtonIfReady() {
        console.log(isIdChecked)
        console.log(isEmailChecked)
        // 아이디와 이메일 중복 체크가 모두 완료되었을 때 회원가입 버튼 활성화
        if (isIdChecked && isEmailChecked) {
            var button = document.getElementById('joinbtn');
            button.disabled = false;
        }
    }
</script>
{{>layout/footer}}
