{{>layout/header}}
<h1>로그인 페이지</h1>
<div class="layout">
    <form action="/logindo" method="post">
        <h2>Log-in</h2>
        <h4>ID</h4>
        <input type="text" name="username" id="username" placeholder="아이디">
        <h4>Password</h4>
        <input type="password" name="pw" id="pw" placeholder="비밀번호">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <br>
        <input type="submit" class="btn btn-dark" value="로그인">
        <br>
        <input type="button" class="btn btn-dark" value="회원가입" onclick="join()">
        <br>
        <input type="button" class="btn btn-dark" value="네이버 로그인" onclick="joinByNaver()">
        <br>
        <input type="button" class="btn btn-dark" value="구글 로그인" onclick="joinByGoogle()">
    </form>
    <script>
        function join(){
            window.location.href='/join';
        }
        function joinByNaver(){
            window.location.href='/oauth2/authorization/naver'
        }
        function joinByGoogle(){
            window.location.href='/oauth2/authorization/google'
        }
    </script>
</div>
{{>layout/footer}}
