{{>layout/header}}
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
</style>

<div class="layout">
    <b2>아이 돌봄 컨텐츠</b2>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <th>날짜</th>
        <th>주소</th>
        </thead>
        {{#care}}
            <tr>
                <td>{{createAt}}</td>
                <td><a href="/view?id={{id}}">{{address}}</a></td>
            </tr>
        {{/care}}
    </table>
    <input type="button" class="btn btn-light" href="community/list" value="더보기">
</div>

<div class="layout">
    <h1>community</h1>
    <b2>내 아이 찾기</b2>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <th>글번호</th>
        <th>제목</th>
        </thead>
        {{#petinfo}}
            <tr>
                <td>{{{id}}}</td>
                <td><a href="findPet/view?id={{id}}">{{{title}}}</a></td>
            </tr>
        {{/petinfo}}
    </table>
    <input type="button" class="btn btn-light" href="findPet/list" value="더보기">
</div>

<div class="layout">
    <b2>커뮤니티</b2>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <th>글번호</th>
        <th>제목</th>
        </thead>
        {{#board}}
            <tr>
                <td>{{{id}}}</td>
                <td><a href="community/view?id={{id}}">{{{title}}}</a></td>
            </tr>
        {{/board}}
    </table>
    <input type="button" class="btn btn-light" href="community/list" value="더보기">
</div>

{{>layout/footer}}
