{{>layout/header}}
<h1>community</h1>
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
</style>


<div class="layout">
    <b2>내 아이 찾기</b2>
    <table>
        <thead>
        <th>글번호</th>
        <th>제목</th>
        </thead>
        {{#petinfo}}
            <tr>
                <td>{{{id}}}</td>
                <td><a href="findPet/view?id={{id}}">{{{title}}}</a></td>
            </tr>
        {{/petinfo}}
    </table>
    <input type="button" href="findPet/list" value="더보기">
</div>

<div class="layout">
    <b2>커뮤니티</b2>
    <table>
        <thead>
        <th>글번호</th>
        <th>제목</th>
        </thead>
        {{#board}}
            <tr>
                <td>{{{id}}}</td>
                <td><a href="community/view?id={{id}}">{{{title}}}</a></td>
            </tr>
        {{/board}}
    </table>
    <input type="button" href="community/list" value="더보기">
</div>

{{>layout/footer}}
