{{>layout/header}}
<div class="layout">
    <h1>게시판</h1>
    <form action="/community/writedo" method="post" enctype="multipart/form-data">
        <input name="title" type="text"/>
        <textarea name="content"></textarea>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
{{>layout/footer}}