<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" id="dog_Article" href="/news/dog" style="color:black">강아지</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="cat_Article" href="/news/cat" style="color:black">고양이</a>
    </li>
    <form action="http://localhost:8090/news/search" method="get">
        <label>
            <input type="text" name="newsName">
            <input type="submit" value="검색">
        </label>
    </form>
</ul>